<!--sidebar-->
<div class="d-print-none sidebar sidebar-fixed" id="sidebar1" visible>

  <nav></nav>

</div>

<!--aside-->
<!-- <app-default-aside style="display: none;"></app-default-aside> -->

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 ">
  <!--app-header-->
  <app-default-header class="d-print-none header header-sticky bg-header" position="sticky" sidebarId="sidebar1">
  </app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 pt-4 px-3 text-dark bg-light bg-gradient">
    <div class=" container-fluid h-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>