<!--sidebar-->
<div class="d-print-none sidebar sidebar-fixed" id="sidebar1" visible>

  <nav></nav>

</div>

<!--aside-->
<!-- <app-default-aside style="display: none;"></app-default-aside> -->

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-dark dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar1">
  </app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <div class="container-fluid h-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>