<div class="container my-5 text-left">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="fw-bolder">Automated DCA Investment Protocol</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <p class="fs-3">Tortoise Finance is an Automated DCA Investment Protocol with Incentivized Rewards!
                Dollar-cost averageing is a way to maintain a stable investment and is the backbone of the
                Tortoise Protocol. Utilizing the lightning fast Avalanche Network, the user can earn stablecoin yields
                in our Tortoise Vault called "Burrows". Join us and become part of the Tortoise Finance, the first of
                its kind - a DCA protocol in DeFi. Claim your stablecoin USDC.e rewards each day!</p>
        </div>
    </div>
</div>

<app-coin></app-coin>

<div class="container-fluid pt-4">
    <div class="row">
        <div class="col text-center">
            <h3>The <span class="tort_gradient">Basics</span> of Tortoise Investing</h3>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-3">
            <div class="d-flex flex-column align-items-center">
                <div class="coin"></div>
                <p class="tort_gradient">BUY $USDC.e NOW</p>
            </div>
        </div>
        <div class="col-1">
            <img src="/assets/img/personal.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>Investor Depostis USDC.e</h6>
            <span class="fs-6 tort_gradient">Deposit Fees:</span>
            <p class="fs-6 tort_gradient">3% WL 6% Regular</p>
        </div>
        <div class="col-1">
            <img src="/assets/img/hand_money.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>Investor claims USDC.e at .90%-1.20% Yield Daily</h6>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column align-items-center">
                <img src="/assets/img/tort-token 2.png" class="coin">
                <p>BUY $TORT NOW</p>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">

        </div>
        <div class="col-1">
            <img src="/assets/img/chart_rise.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>USDC.e is used to automatically DCA $TORT</h6>
            <p class="fs-6 tort_gradient">(Dollar-Cost Average Investing at Intervals)</p>
        </div>
        <div class="col-1">
            <img src="/assets/img/tortoise_outline.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>Investor claims $TORT at the end of the term</h6>
            <p class="fs-6 tort_gradient">Early withdrawl subject to 50% penalty tax</p>
        </div>
        <div class="col-3">

        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">

        </div>
        <div class="col-1">
            <img src="/assets/img/institution.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>$TORT is automatically locked in for a term. User chooses the term</h6>
        </div>
        <div class="col-1">
            <img src="/assets/img/barn.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>$TORT can be farmed in the LP Farm, paired with USDC.e to earn more $TORT</h6>
        </div>
        <div class="col-3">

        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">

        </div>
        <div class="col-3 text-center">
            <div>
                <p class="fs-7 mb-0">Number of days</p>
                <div class="d-flex justify-content-center">
                    <h3><span class="badge bg-tort_gradient square-pill px-1">15</span></h3>
                    <h3><span class="badge bg-tort_gradient square-pill px-1 ms-2">30</span></h3>
                    <h3><span class="badge bg-tort_gradient square-pill px-1 ms-2">60</span></h3>
                </div>
                <p>Each Vault Term has a different Daily Yield Associated with it</p>
            </div>
        </div>
        <div class="col-1">
            <img src="/assets/img/stock_up.png" class="dashboard-img">
        </div>
        <div class="col-2 text-center">
            <h6>$TORT can be farmed in the LP Farm, paired with USDC.e to earn more $TORT</h6>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h2>How <span class="tort_gradient">Tortoise</span> will win in ANY market</h2>
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-4">
                <div class="col-2">
                    <img src="/assets/img/hand_money.png" class="dashboard-img">
                </div>
                <div class="col-6 ms-3">
                    Tortoise is paired with USDC.e, a stablecoin.
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-4">
                <div class="col-2">
                    <img src="/assets/img/chart_rise.png" class="dashboard-img">
                </div>
                <div class="col-6 ms-3">
                    Tortoise is DCA'd over a period of 60 hours, once every 6 hours, creating a smooth, average price.
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-4">
                <div class="col-2">
                    <img src="/assets/img/personal.png" class="dashboard-img">
                </div>
                <div class="col-6 ms-3">
                    Investors can deposit their USDC.e to buy the Tortoise coin, and earn stablecoin rewards durning the
                    lockup period.
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-4">
                <div class="col-2">
                    <img src="/assets/img/stock_up.png" class="dashboard-img">
                </div>
                <div class="col-6 ms-3">
                    Tortoise will have 10 times the amount of buys as a typical token launch because of the DCA effect.
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-4">
                <div class="col-2">
                    <img src="/assets/img/institution.png" class="dashboard-img">
                </div>
                <div class="col-6 ms-3">
                    Tortoise has many different locking mechanisms to prevent investors from dumping the token in large
                    quantities.
                </div>
            </div>

        </div>
    </div>
</div>